a,abbr,acronym,address,applet,b,big,blockquote,body,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,images,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,tt,u,ul,var{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;font-weight:400}
.ob-embed-product-print .modal-open .modal{overflow-x:hidden;overflow-y:auto}
.ob-embed-product-print .modal{top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.ob-embed-product-print .modal-dialog.print-product{width:1170px}
.ob-embed-product-print .modal-dialog{position:relative;width:auto;margin:10px}
.ob-embed-product-print  .modal-content{border-radius:0;position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);outline:0}
.ob-embed-product-print .model-popup-black .modal-content .close{height:27px;opacity:1;position:absolute;right:10px;top:5px;width:26px;z-index:9999;font-weight:400;font-family:robotolight,Arial,sans-serif;color:#656565;text-shadow:none;font-size:36px;background:0 0;border:none;min-height:inherit}
.ob-embed-product-print .model-popup-black .modal-header{color:#fff;background:#2D2D2D;text-align:center;padding:10px 15px}
.ob-embed-product-print .modal-header{min-height:16.43px;padding:15px;border-bottom:1px solid #e5e5e5}
.ob-embed-product-print .model-popup-black .modal-header h1.modal-title{font-size:20px;text-transform:uppercase;font-family:roboto_condensedregular,Arial,sans-serif}
.ob-embed-product-print .modal-title{margin:0;line-height:1.42857143}
.ob-embed-product-print .modal-body{position:relative;padding:15px}
.ob-embed-product-print .row{margin-right:-15px;margin-left:-15px}
.ob-embed-product-print .add-btn.gray{background:#5d5c5c;border-color:#505050;border-style:solid;border-width:1px 1px 2px;display:inline-block}
.ob-embed-product-print .add-btn{box-shadow:0 1px 2px #888;color:#fff;font-family:roboto_condensedregular,Arial,sans-serif;font-size:14px;font-weight:400;height:37px;padding:7px 10px;text-transform:uppercase;border-radius:3px}
.ob-embed-product-print a,a:focus{text-decoration:none;outline:0!important}
.ob-embed-product-print a,a image{border:0;outline:0!important}
.ob-embed-product-print .fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.ob-embed-product-print .carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img{display:block;max-width:100%;height:auto}
.ob-embed-product-print img{vertical-align:middle;border:0}
.ob-embed-product-print .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
.ob-embed-product-print .col-xs-6{width:50%}
.ob-embed-product-print .col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}
.ob-embed-product-print .btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before{display:table;content:" "}
.ob-embed-product-print .print-product h3{color:#404040;font-size:20px;font-family:roboto_condensedbold,Arial,sans-serif;background:#f5f5f5;padding:10px 0 10px 10px;margin-bottom:10px}
.ob-embed-product-print .print-product .print-main-img{border:3px solid #f1f1f1;background:#fff;box-shadow:inset 0 0 0 5px #FFF;margin-bottom:5px}
.ob-embed-product-print .print-thumb{float:left;list-style:none;position:relative;width:87.9px;margin-right:5px}
.ob-embed-product-print .print-thumb:last-child{margin-right:0}
.ob-embed-product-print .product-print-thumb-img{border:3px solid #f1f1f1;display:block;background:#fff;position:relative}
.ob-embed-product-print .print-total-thumb img{max-width:100%;display:block}
.ob-embed-product-print .print-product-desc{margin-top:10px}
.ob-embed-product-print h3.print-sub-title{text-transform:uppercase;background:0 0;border-bottom:1px solid #000;font-size:18px;padding-left:0}
.ob-embed-product-print .print-product-desc p{font-size:13px;color:#5e5e5e;font-family:robotoregular,Arial,sans-serif;line-height:20px}
.ob-embed-product-print .print-product-detail label{color:#404040;font-size:15px;font-family:roboto_condensedbold,Arial,sans-serif;text-transform:uppercase;line-height:20px}
.ob-embed-product-print .print-product-detail span{color:#5e5e5e;font-size:14px;font-family:robotoregular,Arial,sans-serif;line-height:20px}
.ob-embed-product-print .print-product-detail p{color:#5e5e5e;font-size:14px;font-family:robotolight_italic,Arial,sans-serif;padding:10px 0 20px;line-height:20px}
.ob-embed-product-print .product-print-shipping label{color:#404040;font-size:15px;font-family:roboto_condensedbold,Arial,sans-serif;text-transform:uppercase;line-height:20px}
.ob-embed-product-print .product-print-shipping span{color:#5e5e5e;font-size:14px;font-family:robotoregular,Arial,sans-serif;line-height:20px}
.ob-embed-product-print h4.print-child-title{color:#404040;font-size:15px;font-family:robotobold,Arial,sans-serif}
.ob-embed-product-print .product-print-price label{font-size:14.63px;font-family:robotolight,Arial,sans-serif;color:#404040}
.ob-embed-product-print .product-print-price span{font-size:12.68px;font-family:robotobold,Arial,sans-serif;color:#404040;float:right}
.ob-embed-product-print .product-print-price h4.print-child-title{margin-top:5px}
.ob-embed-product-print .product-print-price p{font-family:robotolight_italic,Arial,sans-serif;font-size:12px;color:#404040;margin:5px 0;border-bottom:1px dotted #ddd}
.ob-embed-product-print .print-import-info{margin-top:60px}
.ob-embed-product-print .print-import-info label{color:#404040;font-size:15px;font-family:roboto_condensedbold,Arial,sans-serif;text-transform:uppercase;line-height:20px}
.ob-embed-product-print .print-import-info span{color:#5e5e5e;font-size:14px;font-family:robotoregular,Arial,sans-serif;line-height:20px}
.ob-embed-product-print .print-safety-compliance{margin-top:30px}
.ob-embed-product-print .print-safety-compliance label{color:#404040;font-size:15px;font-family:roboto_condensedbold,Arial,sans-serif;line-height:20px;display:inline-block}
.ob-embed-product-print .print-safety-compliance span{color:#5e5e5e;font-size:14px;font-family:robotoregular,Arial,sans-serif;line-height:20px}
.ob-embed-product-print .print-safety-compliance p{color:#5e5e5e;font-size:13px;font-family:robotoregular,Arial,sans-serif;padding:10px 0 20px;line-height:20px}
.ob-embed-product-print .print-buttom-border{border-bottom:1px dotted #ddd;margin:5px 0}
.ob-embed-product-print .print-btn-product a{width:140px;text-align:center;float:right}
.ob-embed-product-print .print-close a{width:140px;text-align:center;float:left}
.ob-embed-product-print .print-botton,.print-logo{display:none}
.ob-embed-product-print .skuprice{margin-bottom:5px;font-size:16px;display:inline-block;width:100%}
.ob-embed-product-print .skuprice>div{font-family:roboto_condensedregular,Arial,sans-serif;background:#F5F5F5;padding:7px 0;text-align:center;border-right:3px #fff solid;border-bottom:1px #fff solid;min-height:38px}
.ob-embed-product-print .skuprice span{color:#969696;padding:0 0 0 10px}
.ob-embed-product-print .skuprice .product-rating-top-block{margin:0 auto;left:0;right:0}
.ob-embed-product-print .product-rating-top-block{position:relative;z-index:2}
.ob-embed-product-print .rating{color:#ddd;font-size:15px;height:20px;width:auto;transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;font-weight:400}
.ob-embed-product-print .rating i{display:initial;border:none;line-height:normal;font-size:15px;font-weight:400}
.ob-embed-product-print ol ol,ol ul,ul ol,ul ul{margin-bottom:0}
.ob-embed-product-print li,ul{list-style:none;margin:0;padding:0}
.ob-embed-product-print .product-print-color .color-box li{margin-right:2px;float:left}
.ob-embed-product-print .color-box li{display:inline-block;margin-right:0}
.ob-embed-product-print .color-box input[type=checkbox]{display:none;border-radius:0}
.ob-embed-product-print input[type=radio],input[type=checkbox]{vertical-align:middle;margin:0}
.ob-embed-product-print input[type=checkbox],input[type=radio]{margin:4px 0 0;line-height:normal;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
.ob-embed-product-print button,input,textarea{outline:0}
.ob-embed-product-print button,input,select,textarea{line-height:inherit}
.ob-embed-product-print button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit}
.ob-embed-product-print .color-box label{background:red;padding:10px;height:30px;width:30px;float:left;border-radius:0;font-size:100%;display:inline-block;border:2px solid #CCC;cursor:pointer}
.ob-embed-product-print label{font-weight:400}
.ob-embed-product-print .product-print-price{margin-top:10px}
.ob-embed-product-print .clearfix{clear:both}
.ob-embed-product-print .estimate-table{margin-top:5px}
.ob-embed-product-print .estimate-table table{border:1px solid #e6e6e6;font-size:14px;color:#595959;width:100%;text-align:center;display:table;font-family:roboto_condensedregular,Arial,sans-serif;font-weight:400}
.ob-embed-product-print .estimate-table table th{font-weight:400;text-align:center;border:1px solid #fff;padding:5px 10px;font-family:roboto_condensedlight,Arial,sans-serif;font-size:16px;background:#999;color:#FFF}
.ob-embed-product-print .estimate-table table tr td.font-header,.estimate-table table tr th.font-header{text-transform:uppercase}
.ob-embed-product-print .estimate-table table td{font-weight:400;font-size:16px;padding:5px;text-align:center;color:#222;border:1px solid #fff;font-family:roboto_condensedregular,Arial,sans-serif;background:#e6e6e6}
.ob-embed-product-print table{background-color:transparent;border-spacing:0;border-collapse:collapse}
.ob-embed-product-print p{color:#888;font-size:13px;line-height:15px;padding-bottom:15px}
.ob-embed-product-print label{max-width:100%;margin-bottom:5px}
@media (min-width:1200px){
.ob-embed-product-print .col-lg-6{width:50%}
.ob-embed-product-print .col-lg-8{width:66.66666667%}
.ob-embed-product-print .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}
.ob-embed-product-print .col-lg-5{width:41.66666667%}
.ob-embed-product-print .col-lg-7{width:58.33333333%}
}
@media (min-width:992px){
.ob-embed-product-print .col-md-6{width:50%}
.ob-embed-product-print .col-md-4{width:33.33333333%}
.ob-embed-product-print .col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}
}
@media (min-width:768px){
.ob-embed-product-print .modal-dialog{width:600px;margin:0 auto}
.ob-embed-product-print .col-sm-6{width:50%}
.ob-embed-product-print .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}
}
